body {
  padding: 1rem;
}

:root {
  --color-main-100: hsla(17.5,100%,95.29%,1);
  --color-main-200: hsla(16.6,100%,90.78%,1);
  --color-main-300: hsla(16.29,100%,86.27%,1);
  --color-main-400: hsla(14.74,100%,77.65%,1);
  --color-main-500: hsla(14.12,100%,73.33%,1);
  --color-main-600: hsla(12.99,100%,69.22%,1);
  --color-main-700: hsla(12.07,100%,64.9%,1);
  --color-main-800: hsla(10.8,100%,60.78%,1);
  --color-main-900: hsla(7.67,77.59%,45.49%,1);
}
